input, select, option{
    color: black;

}
input:focus, select:focus{
    outline: none;
}

@keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }
  
  .slide-in {
    animation: slideIn 0.3s ease-in-out;
  }
  
  .slide-out {
    animation: slideOut 0.3s ease-in-out;
  }

  