.custom-scrollbar {
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch; /* iOS momentum */
}


/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* keep it tiny */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent; /* invisible but scrollable */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
